* {
    border: none;
    border-radius: 3;
    font-family: SF Mono;
    font-weight: bold;  
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

#workspaces button {
    color: #313244;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
}

#custom-power,
#custom-menu,
#window,
#clock,
#wireplumber,
#workspaces,
#tray,
#privacy,
#gamemode,
#inhibitor,
#backlight {
    background: #1e1e1e;  
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 3px;
    border: 1px solid #181825;
}

#workspaces {
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#tray {
    margin-right: 2px;
    margin-left: 2px;
}

#custom-power {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
#custom-menu {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
#gamemode {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 6px;
    padding-right: 9px;
}
#privacy {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    margin-left: 2px;
    margin-right: 2px;
}

#wireplumber {
    margin-right: 2px;
    margin-left: 2px;
}
